{% extends 'base.html' %}
{% block title %}板块排行榜{% endblock title %}
{% block middle %}
<div class="box">
    <div class="navbar has-shadow" style="position: relative; top: -1rem;">
        <div class="container">
            <div class="navbar-tabs">
                <a id="hangyetab" href="{% url 'ranktypeDefault'%}" class="navbar-item is-tab is-active">行业板块</a>
                <a id="diyutab" href="{% url 'ranktypeDefault'%}diyu/1" class="navbar-item is-tab">地域板块</a>
                <a id="gainiantab" href="{% url 'ranktypeDefault'%}gainian/1" class="navbar-item is-tab">概念板块</a>
            </div>
        </div>
    </div>
    <div class=" is-size-7 " >
            {%for item in menu%}
                {% ifnotequal item.code typeid %}
                    <a  href="{% url 'ranktypelistDefault'%}{{type}}/{{item.code}}/1">{{item.name}}</a>
                {% else%}
                    <a class="has-text-danger" href="{% url 'ranktypelistDefault'%}{{type}}/{{item.code}}/1">{{item.name}}</a>
                {% endifnotequal %}
            {% endfor%}
            </div>
    <div class="card is-fullwidth">
        <div class="card-content" style="margin-left:-1rem;margin-right:-1rem;">
            <table class="table is-striped is-hoverable is-fullwidth is-size-7 "style="margin-bottom:-1rem;margin-top:-1rem">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>交易时间</th>
                    <th>股票名称</th>
                    <th>股票代码</th>
                    <th>昨收</th>
                    <th>今开</th>
                    <th>今收</th>
                    <th>最高</th>
                    <th>最低</th>
                    <th>涨跌额</th>
                    <th>涨跌幅</th>
                    <th>成交金额</th>
                    <th>成交量</th>
                </tr>
                </thead>
                <tbody id="RankList" class="has-text-danger">
                <!--当前页内容遍历展示-->
                {% load templatehelper %}
                {%for item in page%}
                    {% if item.pchg >= 0 %}
                <tr class="has-text-danger">
                    <td class="has-text-black">{{forloop.counter}}</td>
                    <td>{{item.date}}</td>
                    <td><a href="{% url 'details'%}{{item.stockcode}}">{{item.stockname}}</a></td>
                    <td>{{item.stockcode}}</td>
                    <td>{{item.lclose}}</td>
                    <td>{{item.topen}}</td>
                    <td>{{item.tclose}}</td>
                    <td>{{item.high}}</td>
                    <td>{{item.low}}</td>
                    <td>{{item.chg}}</td>
                    <td>{{item.pchg|floatformat:2}}%</td>
                    <td>{{item.vaturnover|div:100000000}}亿</td>
                    <td>{% widthratio item.voturnover 10000 1%}万</td>
                </tr>
                    {%else%}
                <tr class="has-text-success">
                    <td class="has-text-black">{{forloop.counter}}</td>
                    <td>{{item.date}}</td>
                    <td><a href="{% url 'details'%}/{{item.stockid}}">{{item.stockname}}</a></td>
                    <td>{{item.stockcode}}</td>
                    <td>{{item.lclose}}</td>
                    <td>{{item.topen}}</td>
                    <td>{{item.tclose}}</td>
                    <td>{{item.high}}</td>
                    <td>{{item.low}}</td>
                    <td>{{item.chg}}</td>
                    <td>{{item.pchg|floatformat:2}}%</td>
                    <td>{{item.vaturnover|div:100000000}}亿</td>
                    <td>{% widthratio item.voturnover 10000 1%}万</td>
                </tr>
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>

        </div>

    </div>
    <nav class="pagination is-small" role="navigation" aria-label="pagination">
        {% if page.has_previous %}
        <a class="pagination-previous" href="{% url 'ranktypelistDefault'%}{{type}}/{{typeid}}/{{page.previous_page_number}}">上一页</a>
        {% endif %}
        {% if page.has_next %}
        <a class="pagination-next" href="{% url 'ranktypelistDefault'%}{{type}}/{{typeid}}/{{page.next_page_number}}">下一页</a>
        {% endif %}
        <ul class="pagination-list">
            {% for num in page.paginator.page_range%}
            {%if num == page.number%}
            <li><a class="pagination-link is-current">{{ num }}</a></li>
            {%else%}
            <li><a class="pagination-link" href="{% url 'ranktypelistDefault'%}{{type}}/{{typeid}}/{{num}}">{{ num }}</a></li>
            {%endif%}
            {% endfor %}
        </ul>
    </nav>

</div>

{% endblock middle %}

{% block footer%}
{% load static%}
<script type="text/javascript">
    {{ranktype}}
</script>
{% endblock footer%}